body {
	margin: 0;
	font-size: 76%;
	font-family: helvetica, arial, sans-serif;
}

div#header,
div#header-nav, 
div#content {
	margin: 0 20px;
	clear: both;
}

/* header */
div#header-right {
	float: right;
	width: 300px;
}
div#header div#lol-too,
div#css_controls {
	float: left;
	width: 280px;
	color: #999;
	margin: 10px 0 0 0;
	padding: 4px 10px;
	border-top: 2px solid #666;
	border-bottom: 1px solid #ddd;
}
div#header div#lol-too {
	line-height: 1.5em;
}
div#header div#lol-too h3 {
	font-size: 200%;
	margin: 0.125em 0 0.25em 0;
}
div#header div#lol-too ol {
	padding: 0 0 0 2em;
	margin: 0.25em 0 0.25em 0;
}
div#header div#lol-too ol li {
	margin: 0;
	padding: 0;
}

div#lol-too a { text-decoration: none; }
div#lol-too a:hover { text-decoration: underline; }

#css_controls {
	line-height: 22px;
}
#css_controls ul {
	list-style: none;
	margin: 0; padding: 0;
}
#css_controls ul li {
	float: left;
	display: block;
	clear: none;
	margin: 4px;
	cursor: pointer;
}
#css_controls ul li a {
	border: 1px solid #ddd;
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	outline: none;
}
#css_controls ul li#light {
	background-color: #fff;
}
#css_controls ul li#dark {
	background-color: #333;
}

/* body */

a {
	color: blue;
}
a img {
	border: none;
}

h1 {
	width: 300px;
	float: left;
	font-size: 300%;
	color: #f00;
	margin: 0;
	padding: 0 50px 0 0;
	text-align: center;
}
h1 a {
	text-decoration: none;
	color: #f00;
	background: transparent url(img/dumbo.png) 50% 50% no-repeat;
	/* background: transparent url(img/fluffy-lol256.png) 50% 50% no-repeat;  */
	display: block;
	height: 180px;
	width: 520px;
	text-indent: -9999px;

	/*
	width: 400px;
	background-image: url(img/lol-fuckwit.gif);
	*/

}
h1 a:hover {
	text-decoration: underline;
}

h2 {
	clear: both;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 2em;
	font-size: 200%;
}

ul#loll {
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;
}
ul#loll li {
	margin: 0.75em 0;
	position: relative;

}

div.votes {
	width: 75px;
	margin-right: 10px;
	position: absolute;
	left: 0;
}
div.votes span.count {
	display: block;
	text-align: center;
	font-size: 200%;
	border: 1px solid #ddd;
	padding: 0;
	background-color: #fdd;
	overflow: hidden;
	white-space: nowrap;  
}
span.count a.permalink {
	color: #000;
	text-decoration: none;
	display: block; 
	width: 100%; 
	line-height: 1.75em;
}
div.votes span.lol-button 
{
	text-align: center;
	font-size: 100%;
	padding: 4px;
	border: 1px solid #eee;
	width: 65px;
	margin-bottom: 10px;
	display: block;
}

div.lolz span.count {
	background-color: #ffd;
}

div.infz span.count {
	background-color: #aef; 
}
div.infz span.lol-button a {
	color: #aef !important;
}

div.unfz span.count {
	background-color: #f00; 
}
div.unfz span.lol-button a {
	color: #f00 !important;
}

div.tagz span.count {
	background-color: #7b2; 
}
div.tagz span.lol-button a {
	color: #7b2 !important;
}


div.post {
	margin-left: 85px;
	margin-bottom: 10px;
	line-height: 1.3em;
	font-size: 110%;
	border-top: 2px solid #666;
	padding: 4px 10px;
	overflow: hidden;
}

div.postmeta {
	float: left;
	display: block;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding: 1px 0 5px 0;
	color: #666;
	font-size: 86%;
	width: 100%;
}
div.postmeta a {
	font-size: 110%;
}
div.postmeta a.permalink {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
span.post-author {
	float: left;
}
span.post-date {
	float: right;
}

div.postbody {
	clear: left;
}

div.loldby {
	display: block;
	font-size: 90%;
	color: #666;
	padding-top: 4px;
	border-top: 1px solid #eee;
	margin-top: 10px;
}
div.loldby a {
	text-decoration: none;
	color: #999;
}
div.loldby a:hover {
	text-decoration: underline;
}

/* old tags */
.normal      { font-size: small }
.smaller     { font-size: x-small }
.btred       { color: #FF0000 }
.btyellow    { color: #FFDE00 }
.btgreen     { color: #8DC63F }
.btblue      { color: #44AEDF }
.btunderline { text-decoration: underline }
.btbold      { font-weight: bold }
.btitalic    { font-style: italic }
.btstrike    { text-decoration: line-through }
.btsample    { font-size: x-small; }
.btspoiler   { cursor: help; color: #383838; background-color: #383838; padding: 0 0.25em; }
.btquote     { font-family : "Courier New", courier, monospace; }
.btolive     { /*font-family: ms mincho;*/}
.btlime      { color: #C0FFC0; }
.btfuchsia   { }
.btpink      { color: #F49AC1; }
.btorange   { color: #F7941C; }


div.nav {
	clear: both;
	display: block;
	float: left;
	font-size: 110%;
	margin: 0 0 10px 0;
	padding: 6px;
	width: 100%; 
}
div.nav ul {
	background-color: #f8f8f8;
	list-style: none;
	margin: 0;
	padding: 0.5em 0;
	float: left;
	width: 100%; 
	position: relative; 
}
div.nav ul#nav-tag {
	background-color: #eee; 
}
div.nav li {
	float: left;
	padding: 0 1em;
  height: 25px;
}
div.nav li.right {
	float: right;
}
div.nav li.center  {
	position: absolute; 
	left: 50%; 
	width: 15em; 
	margin-left: -7.5em; 
	text-align: center; 
}

div#header-nav div.nav, 
div#content div.nav {
	padding: 6px 0; 
	margin: 0;
	width: 100%; 
}
div#footer
{
	text-align: center;
	clear: both;
}

div.col {
	width: 300px;
	float: left;
	padding: 1px 40px 40px 40px;
	line-height: 1.5em;
}
div.col li {
	padding-bottom: 0.25em;
}

div.col a {
	font-size: 200%;
	line-height: 1.2em;
}

#footer ul {
	list-style: none;
	margin: 0 auto;
	width: 500px;
}
#footer ul li {
	float: left;
	line-height: 30px;
	padding: 0 10px;
}

span.tiny { font-size: 10px; }

p.pagenums {
	line-height: default;
	padding: 0;
	margin: 0;
	text-align: center;
}
p.pagenums a  {
	padding: 0 0.25em;
}
p.pagenums a.current {
	text-decoration: none;
	color: red;
}

ul#user-list {
	margin: 2em 0;
	padding: 0;
	list-style: none;
}
ul#user-list li {
	float: left;
	width: 20em;
	line-height: 1.5em;
}

div.tabs {
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	background: transparent url(img/tab-bottom.gif) 0  100% repeat-x;
}
div.tabs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	height: auto;
	width: 100%;
	float: left;
}
div.tabs ul li {
	padding: 0 12px 0 0;
	margin: 0 2px 0 0;
	float: left;
	display: inline;
	line-height: 2.5em;
	background: transparent url(img/tab-background.gif) 100% 0 no-repeat;
	border-bottom: 1px solid #ccc;
}
div.tabs ul li.strong {
	padding: 0 15px;
	background-image: none;
	font-weight: bold;
}
div.tabs a {
	display: block;
	line-height: 2.5em;
	padding: 0 0 0 12px;
	background: transparent url(img/tab-background.gif) 0 0 no-repeat;
}
div.tabs a:hover {
	/* background-color: #ff0; */
}
div.tabs ul li.selected  {
	background: #fff url(img/tab-selected-background.gif) 100% 0 no-repeat;
	border-bottom: 1px solid #fff;
}
div.tabs ul li.selected a {
	background: #fff url(img/tab-selected-background.gif) 0 0 no-repeat;
}
div.tabs ul li.not-tab {
	background-image: none;
}
div.tabs ul li.right {
	float: right;
}

div#tshirt
{
	position: absolute;
	right: 0;
}

/* shacktags */

.jt_red          { color: #f00; }
.jt_green        { color: #8dc63f; }
.jt_pink         { color: #f49ac1; }
.jt_olive        { color: olive; }
.jt_fuchsia      { color: #c0ffc0; }
.jt_yellow       { color: #ffde00; }
.jt_blue         { color: #44aedf; }
.jt_lime         { color: #c0ffc0; }
.jt_orange       { color: #f7941c; }
.jt_italic       { font-style: italic; }
.jt_bold         { font-weight: bold; }
.jt_underline    { text-decoration: underline; }
.jt_strike       { text-decoration: line-through; }
.jt_sample       { font-size: 80%; line-height: 10px; }
.jt_quote        { font-family: serif; font-size: 110%; }
.jt_spoiler      { cursor: help; color: #383838; background-color: #383838; }
.jt_spoiler_show { color: #f00; }
.jt_codesmall    { font-family: monospace; }
.jt_code         { display: block; font-family: monospace; border-left: 1px solid #666; padding: 3px 0 3px 10px; margin: 5px 0 5px 10px; }
.jt_sander       { background: #f00; color: #00f; }
.jt_wtf242       { color: #808080; }

ol#fanclub {
	clear: both;
}
ol#fanclub li {
	font-size: 115%;
	line-height: 1.75em;
}
#banner {
	display: block;
	width: 100%; 
	height: 2.5em; 
	line-height: 2.5em; 
	top: 0; 
	left: 0;
	padding: 0; 
	font-weight: bold;
	color: #333;
	background-color: #CCFF22;
	border-bottom: 2px solid #791;
}
#banner ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%; 
}
#banner ul li {
	float: left;
	margin: 0 1em;
}
#banner ul li.r {
	float: right;
	margin-right: 1em;
	margin-left: 2em;
}
#banner a {
	color: #06f;
}
pre { line-height: 1em; }

div.fpmod_nws .postmeta { 
	background-image: url(img/fpmod_nws.png);
	background-repeat: no-repeat; 
	background-position: 100% 50%; 
}

div.fpmod_informative .postmeta { 
	background-image: url(img/fpmod_interesting.png);
	background-repeat: no-repeat; 
	background-position: 100% 50%;
}



/* highlights current user */
div.postmeta span.this-user a { color: #0bf; }
div.loldby a.this-user { font-weight: bold; }


/* kill iPhone nav */
div#iphone-nav { display: none; }


ul#nav-tag li a { margin: 0 0.25em; }
ul#nav-tag li.lol a {  }
ul#nav-tag li.inf a { color: #aef;  }
ul#nav-tag li.tag a { color: #7b2; }
ul#nav-tag li.unf a { color: #f00; }


.r { text-align: right; }

table#stats {
	font-size: 140%; 
	margin: 40px auto; 
}
table#stats th, table#stats td {
	line-height: 2em; 
	padding: 0 1em; 
	text-align: left; 
}

